<header class="custom-header">
    <div class="top-bar">
        <div class="logo-section">
            <i class="icon-flask"></i>
            <div class="footer-widget__logo logo-retina" style="padding-top: 20px;">
                <a href="index.html">
                    <img src="assets/front/images/logo-light.png" alt="Mediox HTML" width="164">
                </a>
            </div>
        </div>
        <ul class="nav-links">
            <li class="nav-item" routerLinkActive="active">
                <a routerLink="/acceuil">Accueil</a>
            </li>

            <li class="nav-item " routerLinkActive="active">
                <a routerLink="/profile">Profile</a>
            </li>

             <li class="nav-item " routerLinkActive="active">
                <a routerLink="/contact">contact</a>
            </li>
           
            <li class="nav-item">
                <a routerLink="/contact">
                    <i class="bx bx-chat"></i> Contact
                </a>
            </li>
            <li class="dropdown" *ngIf="isPatientIn">
                <a routerLink="/inf-medecin">Medecin</a>
            </li>
            <li class="dropdown" *ngIf="isPatientIn">
                <a routerLink="/espace-patients">Vos espace</a>

            </li>
            <li class="dropdown" *ngIf="isPatientIn|| isMedecinIn">
                <a routerLink="/video-call">chat</a>

            </li>

          <!--  <li>
                {{userInfo.nom}}
            </li>-->
            <li class="dropdown" *ngIf="isMedecinIn">
                <a routerLink="/medecin-page">Patient</a>
            </li>
            <li class="dropdown" *ngIf="isLaboratoireIn">
                <a routerLink="/laboratoire-analyses">Espace Laboratoire</a>
            </li>

            <li class="dropdown" *ngIf="isPahamacieIn">
                <a routerLink="/pharmacie-ordonnance">Espace Pharmacie</a>
            </li>
        </ul>

       

        <div class="logout-section" *ngIf="userInfo" style="padding-top: 30px;">
            <button (click)="logout()" class="footer-widget__btn">Déconnexion</button>
        </div>
    </div>

    
        
    
</header>
