<app-loader [loading]="isLoading"></app-loader>
<section class="custom-cursor">
    <div class="custom-cursor__cursor"></div>
    <div class="custom-cursor__cursor-two"></div>
    <div class="page-wrapper">
        <section class="page-header">
            <div class="container-fluid">
                <div class="page-header__inner">
                    <div class="page-header__bg" style="background-image: url(assets/front/images/backgrounds/page-header-bg.jpg);"></div><!-- /.page-header__bg -->
                    <div class="container">
                        <div class="page-header__content">
                            <h2 class="page-header__title">Se connecter</h2>
                            <ul class="mediox-breadcrumb list-unstyled">
                                <li>
                                    <span class="mediox-breadcrumb__icon"><i class="icon-home"></i></span>
                                    <a href="index.html">Acceuil</a>
                                </li>
                                <li><span>Se connecter</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="login-page section-space">
            <div class="container">
                <div class="row gutter-y-60 align-items-center">
                    <div class="col-lg-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                        <div class="login-page__image">
                            <div class="login-page__image__inner">
                                <img src="assets//front/images/resources/login-1-1.jpg" alt="login">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="100ms">
                        <form class="login-page__form">
                            <div class="login-page__form__inner">
                                <div class="login-page__form__top">
                                    <img src="assets/front/images/logo-dark.png" alt="logo" width="164" class="login-page__form__logo">
                                    <h3 class="login-page__form__title">Ravi de vous revoir</h3>
                                </div><!-- /.login-page__form__top -->
                                 <div class="login-page__form__wrapp">
                                         <form (ngSubmit)="onSubmit()" [formGroup]="form">
                                    <div class="login-page__form__input-box">
                                        <label for="login_email_or_phone" class="login-page__form__label">Email</label>
                                        <input formControlName="email" type="text" id="login_email_or_phone" required="" placeholder="Email ">
                                        <div *ngIf="isInvalid('email')" style="color: red;">Email invalide</div>
                                    </div>
                                    <div class="login-page__form__input-box">
                                        <label for="login_password" class="login-page__form__label">Mot de passe</label>
                                        <div class="login-page__form__input-box__inner">
                                            <input  formControlName="password" type="password" id="login_password" required=""placeholder="Entrez le mot de passe" class="toggle-password-input">
                                            <i class="toggle-password-icon fa fa-fw fa-eye-slash"></i>
                                        </div>
                                        <div *ngIf="isInvalid('password')" style="color: red;">Mot de passe invalide</div>
                                    </div>
                                    <div class="login-page__form__input-box login-page__form__input-box--3">
                                        <label class="login-page__form__checked-box" for="remember-policy">
                                            <input type="checkbox" name="remember-policy" id="remember-policy">
                                            <span></span>
                                            Souviens-toi de moi
                                        </label>
                                        <a href="login.html" class="login-page__form__forgot">Mot de passe oublié?</a>
                                    </div>
                                    <br/>
                                    <div *ngIf="errorMessage" class="error" style="color: red;">
                                        {{ errorMessage }}
                                    </div>

                                
                                    <div *ngIf="successMessage" class="success" style="color: green;">
                                        {{ successMessage }}
                                    </div>
                                    <div class="login-page__form__input-box login-page__form__input-box--4">
                                        <button type="submit" class="login-page__form__btn mediox-btn">Se connecter</button>
                                   
                                    </div>
                                    
                                 </form>
                                </div>
                                <div class="login-page__form__bottom">
                                    <p class="login-page__form__register-text">Vous n'avez pas de compte? <a href="/register">Inscrivez-vous maintenant</a></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <footer class="main-footer section-space-top">
            <div class="main-footer__bg" style="background-image: url(assets//front/images/shapes/footer-bg.png);"></div>
            <div class="container">
                <div class="row gutter-y-40">
                    <div class="col-xl-4 col-lg-6 col-md-7 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                        <div class="footer-widget footer-widget--about">
                            <div class="footer-widget__logo logo-retina">
                                <a href="index.html">
                                    <img src="assets//front/images/logo-light.png" alt="Mediox HTML" width="164">
                                </a>
                            </div>
                            <p class="footer-widget__about-text">Morem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elita Florai Psum Dolor Sit Amet, Consecteture.Borem Ipsum Dolor</p><!-- /.footer-widget__about-text -->
                            <a href="appointment.html" class="footer-widget__btn">
                                <span>get consultant</span>
                                <span class="footer-widget__btn__icon"><i class="icon-up-right-arrow"></i></span>
                            </a><!-- /.footer-widget__btn -->
                            <div class="social-links">
                                <a href="https://facebook.com/">
                                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                    <span class="sr-only">Facebook</span>
                                </a>
                                <a href="https://twitter.com/">
                                    <i class="fab fa-twitter" aria-hidden="true"></i>
                                    <span class="sr-only">Twitter</span>
                                </a>
                                <a href="https://instagram.com/">
                                    <i class="fab fa-instagram" aria-hidden="true"></i>
                                    <span class="sr-only">Instagram</span>
                                </a>
                                <a href="https://youtube.com/">
                                    <i class="fab fa-youtube" aria-hidden="true"></i>
                                    <span class="sr-only">Youtube</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-5 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="100ms">
                        <div class="footer-widget footer-widget--links">
                            <h2 class="footer-widget__title">our <span>Services</span></h2>
                            <ul class="list-unstyled footer-widget__links">
                                <li><a href="service-d-cardiology.html">Cardiology Care</a></li>
                                <li><a href="service-d-immediate-care.html">Urgent Care</a></li>
                                <li><a href="service-d-orthopaedics.html">Orthopedic Care</a></li>
                                <li><a href="service-d-neurology-care.html">neurology care</a></li>
                                <li><a href="service-d-gynaecologists.html">gynaecologists</a></li>
                                <li><a href="services.html">Therapy</a></li>
                                <li><a href="service-d-dental-care.html">Dental service</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-5 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="200ms">
                        <div class="footer-widget footer-widget--links">
                            <h2 class="footer-widget__title">useful <span>links</span></h2>
                            <ul class="list-unstyled footer-widget__links">
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="services.html">Our Services</a></li>
                                <li><a href="team.html">Our Team</a></li>
                                <li><a href="blog-grid-right.html">Latest Blog</a></li>
                                <li><a href="appointment.html">Appointments</a></li>
                                <li><a href="faq.html">Help & FAQS</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-7 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="300ms">
                        <div class="footer-widget footer-widget--blog">
                            <h2 class="footer-widget__title">recent <span>news</span></h2>
                            <ul class="footer-widget__posts list-unstyled">
                                <li class="footer-widget__posts__item">
                                    <div class="footer-widget__posts__image">
                                        <img src="assets//front/images/blog/footer-rp-1-1.jpg" alt="Recent posts">
                                    </div>
                                    <div class="footer-widget__posts__content">
                                        <div class="footer-widget__posts__meta">
                                            <a href="#">
                                                <span class="footer-widget__posts__meta__icon">
                                                    <i class="icon-user"></i>
                                                </span>
                                                By Admin
                                            </a>
                                            <a href="#">
                                                <span class="footer-widget__posts__meta__icon">
                                                    <i class="icon-comments"></i>
                                                </span>
                                                2 comments
                                            </a>
                                        </div>
                                        <h4 class="footer-widget__posts__title">
                                            <a href="blog-details-right.html">Collaboratively pontificate bleedi edge resources</a>
                                        </h4>
                                    </div>
                                </li>
                                <li class="footer-widget__posts__item">
                                    <div class="footer-widget__posts__image">
                                        <img src="assets//front/images/blog/footer-rp-1-2.jpg" alt="Recent posts">
                                    </div>
                                    <div class="footer-widget__posts__content">
                                        <div class="footer-widget__posts__meta">
                                            <a href="#">
                                                <span class="footer-widget__posts__meta__icon">
                                                    <i class="icon-user"></i>
                                                </span>
                                                By Admin
                                            </a>
                                            <a href="#">
                                                <span class="footer-widget__posts__meta__icon">
                                                    <i class="icon-comments"></i>
                                                </span>
                                                2 comments
                                            </a>
                                        </div>
                                        <h4 class="footer-widget__posts__title">
                                            <a href="blog-details-right.html">Quick sync the horse is out of the barn, yet this vendor</a>
                                        </h4><!-- /.footer-widget__posts__title -->
                                    </div><!-- /.footer-widget__posts__content -->
                                </li>
                            </ul><!-- /.footer-widget__posts list-unstyled -->
                        </div><!-- /.footer-widget -->
                    </div><!-- /.col-xl-4 -->
                </div><!-- /.row -->
                <div class="main-footer__bottom">
                    <div class="main-footer__info">
                        <div class="main-footer__info__bg" style="background-image: url(assets/front/images/backgrounds/footer-contact-bg.jpg);"></div><!-- /.main-footer__info__bg -->
                        <div class="row main-footer__info__row gutter-y-40">
                            <div class="main-footer__info__col-1 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                                <div class="main-footer__contact">
                                    <span class="main-footer__contact__icon">
                                        <i class="icon-location"></i>
                                    </span><!-- /.main-footer__contact__icon -->
                                    <div class="main-footer__contact__content">
                                        <p class="main-footer__contact__title">office address</p>
                                        <h4 class="main-footer__contact__text">
                                            <a href="https://www.google.com/maps">4648 Rocky Road Philadelphia PA, 1920</a>
                                        </h4>
                                    </div><!-- /.main-footer__contact__content -->
                                </div><!-- /.main-footer__contact -->
                            </div><!-- /.main-footer__info__col-1 -->
                            <div class="main-footer__info__col-2 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="100ms">
                                <div class="main-footer__contact">
                                    <span class="main-footer__contact__icon">
                                        <i class="icon-email"></i>
                                    </span><!-- /.main-footer__contact__icon -->
                                    <div class="main-footer__contact__content">
                                        <p class="main-footer__contact__title">send email</p>
                                        <h4 class="main-footer__contact__text">
                                            <a href="mailto:info@mediox.com">info@mediox.com</a>
                                        </h4>
                                    </div><!-- /.main-footer__contact__content -->
                                </div><!-- /.main-footer__contact -->
                            </div><!-- /.main-footer__info__col-2 -->
                            <div class="main-footer__info__col-3 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="200ms">
                                <div class="main-footer__contact">
                                    <span class="main-footer__contact__icon">
                                        <i class="icon-telephone"></i>
                                    </span><!-- /.main-footer__contact__icon -->
                                    <div class="main-footer__contact__content">
                                        <p class="main-footer__contact__title">call emergency</p>
                                        <h4 class="main-footer__contact__text">
                                            <a href="tel:+208-555-0112">+208-555-0112</a>
                                        </h4>
                                    </div><!-- /.main-footer__contact__content -->
                                </div><!-- /.main-footer__contact -->
                            </div><!-- /.main-footer__info__col-3 -->
                        </div><!-- /.row main-footer__info__row -->
                    </div><!-- /.main-footer__info -->
                    <p class="main-footer__copyright">
                        &copy; Copyright <span class="dynamic-year"></span> by Mediox HTML Template.
                    </p>
                </div><!-- /.main-footer__bottom -->
            </div><!-- /.container -->
        </footer><!-- /.main-footer section-space-top -->

    </div><!-- /.page-wrapper -->

    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <!-- /.mobile-nav__overlay -->
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler"><i class="icon-close"></i></span>

            <div class="logo-box logo-retina">
                <a href="index.html" aria-label="logo image"><img src="assets//front/images/logo-light.png" width="164" alt="" /></a>
            </div>
            <!-- /.logo-box -->
            <div class="mobile-nav__container"></div>
            <!-- /.mobile-nav__container -->

            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <span class="mobile-nav__contact__icon">
                        <i class="fa fa-envelope"></i>
                    </span>
                    <a href="mailto:needhelp@mediox.com">needhelp@mediox.com</a>
                </li>
                <li>
                    <span class="mobile-nav__contact__icon">
                        <i class="fa fa-phone-alt"></i>
                    </span>
                    <a href="tel:+9156980036420">+91 5698 0036 420</a>
                </li>
            </ul><!-- /.mobile-nav__contact -->
            <div class="mobile-nav__social social-links">
                <a href="https://facebook.com/">
                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                    <span class="sr-only">Facebook</span>
                </a>
                <a href="https://twitter.com/">
                    <i class="fab fa-twitter" aria-hidden="true"></i>
                    <span class="sr-only">Twitter</span>
                </a>
                <a href="https://instagram.com/">
                    <i class="fab fa-instagram" aria-hidden="true"></i>
                    <span class="sr-only">Instagram</span>
                </a>
                <a href="https://youtube.com/">
                    <i class="fab fa-youtube" aria-hidden="true"></i>
                    <span class="sr-only">Youtube</span>
                </a>
            </div><!-- /.mobile-nav__social -->
        </div>
        <!-- /.mobile-nav__content -->
    </div>
    <!-- /.mobile-nav__wrapper -->
    <div class="search-popup">
        <div class="search-popup__overlay search-toggler"></div>
        <!-- /.search-popup__overlay -->
        <div class="search-popup__content">
            <form role="search" method="get" class="search-popup__form" action="#">
                <input type="text" id="search" placeholder="Search Here..." />
                <button type="submit" aria-label="search submit" class="mediox-btn">
                    <i class="icon-search"></i>
                </button>
            </form>
        </div>
        <!-- /.search-popup__content -->
    </div>
    <!-- /.search-popup -->
    <aside class="sidebar-one">
        <div class="sidebar-one__overlay sidebar-btn__toggler"></div><!-- /.siderbar-ovarlay -->
        <div class="sidebar-one__content">
            <span class="sidebar-one__close sidebar-btn__toggler"><i class="icon-close"></i></span>
            <div class="sidebar-one__logo sidebar-one__item logo-retina">
                <a href="index.html" aria-label="logo image"><img src="assets//front/images/logo-light.png" width="164" alt="logo" />
                </a>
            </div><!-- /.sidebar-one__logo -->
            <div class="sidebar-one__about sidebar-one__item">
                <p class="sidebar-one__about__text">Here is main text quis nostrud exercitation ullamco laboris nisi here is itealic aliquip ex ea com</p>
            </div><!-- /.sidebar-one__about -->
            <div class="sidebar-one__info sidebar-one__item">
                <h4 class="sidebar-one__title">Contact</h4>
                <ul class="sidebar-one__info__list">
                    <li>
                        <span class="sidebar-one__info__icon sidebar-one__info__icon--location">
                            <i class="icon-location"></i>
                        </span>
                        <address>85 Ketch Harbour Road Bensal
                            PA 19020</address>
                    </li>
                    <li>
                        <span class="sidebar-one__info__icon">
                            <i class="icon-paper-plane"></i>
                        </span>
                        <a href="mailto:needhelp@company.com">needhelp@company.com</a>
                    </li>
                    <li>
                        <span class="sidebar-one__info__icon">
                            <i class="icon-telephone"></i>
                        </span>
                        <a href="tel:+9156980036420">+9156980036420</a>
                    </li>
                </ul><!-- /.sidebar-one__info__list -->
            </div><!-- /.sidebar-one__info -->
            <div class="social-links sidebar-one__item">
                <a href="https://facebook.com/">
                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                    <span class="sr-only">Facebook</span>
                </a>
                <a href="https://twitter.com/">
                    <i class="fab fa-twitter" aria-hidden="true"></i>
                    <span class="sr-only">Twitter</span>
                </a>
                <a href="https://instagram.com/">
                    <i class="fab fa-instagram" aria-hidden="true"></i>
                    <span class="sr-only">Instagram</span>
                </a>
                <a href="https://youtube.com/">
                    <i class="fab fa-youtube" aria-hidden="true"></i>
                    <span class="sr-only">Youtube</span>
                </a>
            </div><!-- /sidebar-one__social -->
            <div class="sidebar-one__newsletter sidebar-one__item">
                <label class="sidebar-one__title" for="sidebar-email">Newsletter</label>
                <form action="#" class="sidebar-one__newsletter__inner mc-form" data-url="MAILCHIMP_FORM_URL">
                    <input type="email" name="EMAIL" id="sidebar-email" class="sidebar-one__newsletter__input" placeholder="Email Address">
                    <button type="submit" class="sidebar-one__newsletter__btn"><span class="icon-email" aria-hidden="true"></span></button>
                </form>
                <div class="mc-form__response"></div><!-- /.mc-form__response -->
            </div><!-- /.sidebar-one__form -->
        </div><!-- /.sidebar__content -->
    </aside><!-- /.sidebar-one -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top">
        <span class="scroll-to-top__text">back top</span>
        <span class="scroll-to-top__wrapper"><span class="scroll-to-top__inner"></span></span>
    </a>

    
</section>