<app-loader [loading]="isLoading"></app-loader> 

    <app-layout>
        <div class="content-page">
            <div class="content">
                <div class="container-fluid full-width">
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <h2 class="mb-3">Liste des Medecins</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="table-wrapper">
                                <table class="custom-table">
                                    <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Nom</th>
                                            <th>Prénom</th>
                                            <th>Email</th>
                                            <th>Spécialité</th>
                                            <th>Téléphone</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>

                                    <tbody>

                                        <tr *ngIf="doctors.length == 0" class="empty-row">
                                        <td colspan="7">Il n'y a pas de médecins</td>
                                        </tr>

                                        <tr *ngFor="let doc of doctors">
                                        <td><img [src]="doc.img" alt="doctor"></td>
                                        <td>{{ doc.firstName }}</td>
                                        <td>{{ doc.lastName }}</td>
                                        <td>{{ doc.email }}</td>
                                        <td>{{ doc.speciality }}</td>
                                        <td>{{ doc.phone }}</td>

                                        <td>
                                            <div class="actions">

                                            <button *ngIf="!doc.active"
                                                    class="btn btn-sm btn-light btn-3d"
                                                    (click)="OnChangeStatus(doc.id)">
                                                <i class="fas fa-check"></i> Activé
                                            </button>

                                            <button *ngIf="doc.active"
                                                    class="btn btn-sm btn-secondary btn-3d"
                                                    (click)="OnChangeStatus(doc.id)">
                                                <i class="fas fa-lock"></i> Désactivé
                                            </button>

                                            <button class="btn btn-sm btn-danger btn-3d"
                                                    (click)="OnDelete(doc.id)">
                                                <i class="fa fa-trash"></i> Supprimer
                                            </button>

                                            </div>
                                        </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </app-layout>


