.prescription-card {
  background: #fff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.prescription-card:hover {
  transform: translateY(-5px);
}

/* HEADER */
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.patient-info h5 {
  margin: 0;
  color: #0a2241;
}

.patient-info small {
  color: #777;
}

/* STATUS */
.status-badge {
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
}

.status-badge.created {
  background: #ffeaa7;
  color: #d35400;
}

.status-badge.ready {
  background: #d4f8e8;
  color: #27ae60;
}

/* BODY */
.card-body {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.left {
  flex: 2;
}

.right {
  flex: 1;
  text-align: center;
}

.right img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 8px;
}

/* DESCRIPTION */
.description {
  color: #555;
}

/* DATE */
.date {
  color: #999;
}

/* FOOTER */
.card-footer {
  margin-top: 15px;
  text-align: right;
}

.btn-confirm {
  background: #0a2241;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-confirm:hover {
  background: #33C1ED;
  color: #0a2241;
}

/* EMPTY */
.empty-state {
  text-align: center;
  margin-top: 20px;
}
.popup {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  z-index: 9999;
  display: flex;
  min-width: 300px;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 25px;
  border-radius: 12px;
  min-width: 300px;
  text-align: center;
}

.upload-box {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

/* hover */
.upload-box:hover {
  border-color: #0a2241;
}

/* quand fichier sélectionné */
.upload-box.active {
  border-color: #2ecc71;
  background: #eafaf1;
}

/* label */
.upload-label {
  cursor: pointer;
  font-weight: 500;
  color: #555;
}

.upload-box.active .upload-label {
  color: #27ae60;
}