 <footer class="main-footer section-space-top">
            <div class="main-footer__bg" style="background-image: url(assets/front/images/shapes/footer-bg.png);"></div>
            <div class="container">
                <div class="row gutter-y-40">
                    <div class="col-xl-4 col-lg-6 col-md-7 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                        <div class="footer-widget footer-widget--about">
                            <div class="footer-widget__logo logo-retina">
                                <a href="/">
                                    <img src="assets/front/images/logo-dark.png" alt="Mediox HTML" width="164">
                                </a>
                            </div>
                           
                            <button (click)="logout()" class="footer-widget__btn">
                                <span>Deconnecter</span>
                                <span class="footer-widget__btn__icon"><i class="icon-up-right-arrow"></i></span>
                            </button>
                            <div class="social-links">
                                <a href="/">
                                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                    <span class="sr-only">Facebook</span>
                                </a>
                                <a href="/">
                                    <i class="fab fa-twitter" aria-hidden="true"></i>
                                    <span class="sr-only">Twitter</span>
                                </a>
                                <a href="/">
                                    <i class="fab fa-instagram" aria-hidden="true"></i>
                                    <span class="sr-only">Instagram</span>
                                </a>
                                <a href="/">
                                    <i class="fab fa-youtube" aria-hidden="true"></i>
                                    <span class="sr-only">Youtube</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-5 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="100ms">
                        <div class="footer-widget footer-widget--links">
                            <h2 class="footer-widget__title">Nos <span>Services</span></h2>
                            <ul class="list-unstyled footer-widget__links">
                                <li><p>Gestion des rendez-vous</p></li>
                                <li><p>Gestion des ordonnances</p></li>
                                <li><p>Gestion des tests medicaux</p></li>
                                <li><p>Systeme de messagerie</p></li>
                                <li><p>Des visio conférence</p></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="col-xl-4 col-lg-6 col-md-7 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="300ms">
                        <div class="footer-widget footer-widget--blog" style="padding-top: 50px;">
                             <p class="footer-widget__about-text">Simplifiez votre parcours de soins grâce à une plateforme sécurisée qui centralise les échanges entre patients, médecins, pharmacies et laboratoires.</p>
                        </div>
                    </div>
                </div>
                <div class="main-footer__bottom">
                    <div class="main-footer__info">
                        <div class="main-footer__info__bg" style="background-image: url(assets/front/images/backgrounds/footer-contact-bg.jpg);"></div>
                        <div class="row main-footer__info__row gutter-y-40">
                            <div class="main-footer__info__col-1 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                                <div class="main-footer__contact">
                                    <span class="main-footer__contact__icon">
                                        <i class="icon-location"></i>
                                    </span>
                                    <div class="main-footer__contact__content">
                                        <p class="main-footer__contact__title">Address</p>
                                        <h4 class="main-footer__contact__text">
                                            <a href="/">Tunis,tunisie</a>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="main-footer__info__col-2 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="100ms">
                                <div class="main-footer__contact">
                                    <span class="main-footer__contact__icon">
                                        <i class="icon-email"></i>
                                    </span>
                                    <div class="main-footer__contact__content">
                                        <p class="main-footer__contact__title">Email</p>
                                        <h4 class="main-footer__contact__text">
                                            <a href="/">info@DocCarePortal.com</a>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="main-footer__info__col-3 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="200ms">
                                <div class="main-footer__contact">
                                    <span class="main-footer__contact__icon">
                                        <i class="icon-telephone"></i>
                                    </span>
                                    <div class="main-footer__contact__content">
                                        <p class="main-footer__contact__title">Telephone</p>
                                        <h4 class="main-footer__contact__text">
                                            <a href="/">+216 70 555 44</a>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="main-footer__copyright">
                        &copy; Copyright <span class="dynamic-year"></span> by DocCarePortal.
                    </p>
                </div>
            </div>
        </footer>